@import url("https://fonts.googleapis.com/css?family=Paytone+One");
body {
  margin: 0;
  padding: 0; }

main {
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding: 20px; }

#copy {
  visibility: hidden;
  font-family: "Paytone One", "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 15vw;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(180, 180, 180, 0.3);
  color: rgba(100, 100, 100, 0.6); }

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  font-weight: bold; }

.h1 {
  font-size: 2em;
  margin: 0.67em 0; }

.h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

.h3 {
  font-size: 1.17em;
  margin: 1em 0; }

.h4 {
  font-size: 1em;
  margin: 1.33em 0; }

.h5 {
  font-size: .83em;
  margin: 1.67em 0; }

.h6 {
  font-size: .67em;
  margin: 2.33em 0; }
